<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h1>All users</h1>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Operations</th>
    </thead>
    </tr>
    <tbody>
    <tr th:each="user : ${Users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <form th:action="@{/updateUser/{id}(id=${user.id})}" method="get" style="display:inline;">
                <button type="submit">Update</button>
            </form>
            <form th:action="@{/removeUser/{id}(id=${user.id})}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </td>
    </td>
    </tbody>
</table>
<br><br>
<form th:action="@{/addNewUser}" method="get">
    <button type="submit">Add</button>
</form>

</body>
</html>